In [1]:
import pandas as pd

The raw data file "agg_region_datacenter_calc (rf_temp.agg_region_datacenter_calc) (rf_temp).csv" is too large to keep in the github repo, so it has been removed.

In [44]:
file = "agg_region_datacenter_calc (rf_temp.agg_region_datacenter_calc) (rf_temp).csv"
illinois_df = pd.read_csv(file,encoding="utf-16",sep='\t')
illinois_df.head()

/Users/dan/miniconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3058: DtypeWarning: Columns (6) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,Worksheet Filter,Measure Display,Number of Records,Avg Sale To List,Avg Sale To List Mom,Avg Sale To List Yoy,City,Homes Sold,Homes Sold Mom,Homes Sold Yoy,...,property_type_id,Region,Region Type,region_type_id,Sold Above List,Sold Above List Mom,Sold Above List Yoy,State,State Code,Table Id
0,Value,NaN,1,0.825275,NaN,NaN,NaN,1.0,NaN,NaN,...,-1,"Randolph County, AL",County,5,0.000000,NaN,NaN,Alabama,AL,174
1,Value,NaN,1,0.950521,0.4%,NaN,NaN,80.0,2.6%,NaN,...,-1,"Morgan County, AL",County,5,0.162500,0.008654,NaN,Alabama,AL,170
2,Value,NaN,1,0.967536,1.0%,NaN,NaN,48.0,2.1%,NaN,...,-1,"Marshall County, AL",County,5,0.333333,0.120567,NaN,Alabama,AL,166
3,Value,NaN,1,0.950804,3.1%,NaN,NaN,61.0,5.2%,NaN,...,-1,"Etowah County, AL",County,5,0.147541,0.026851,NaN,Alabama,AL,146
4,Value,NaN,1,0.938561,1.6%,NaN,NaN,24.0,41.2%,NaN,...,-1,"Jackson County, AL",County,5,0.250000,0.191176,NaN,Alabama,AL,154

In [45]:
illinois_df.columns

Index(['Worksheet Filter', 'Measure Display', 'Number of Records',
       'Avg Sale To List', 'Avg Sale To List Mom', 'Avg Sale To List Yoy',
       'City', 'Homes Sold', 'Homes Sold Mom', 'Homes Sold Yoy', 'Inventory',
       'Inventory Mom', 'Inventory Yoy', 'Seasonally Adjusted', 'last_updated',
       'Median Dom', 'Median Dom Mom', 'Median Dom Yoy', 'Median List Ppsf',
       'Median List Ppsf Mom', 'Median List Ppsf Yoy', 'Median List Price',
       'Median List Price Mom', 'Median List Price Yoy', 'Median Ppsf',
       'Median Ppsf Mom', 'Median Ppsf Yoy', 'Median Sale Price',
       'Median Sale Price Mom', 'Median Sale Price Yoy', 'months_of_supply',
       'months_of_supply_mom', 'months_of_supply_yoy', 'New Listings',
       'New Listings Mom', 'New Listings Yoy', 'off_market_in_two_weeks',
       'off_market_in_two_weeks_mom', 'off_market_in_two_weeks_yoy',
       'parent_metro_region', 'parent_metro_region_metro_code',
       'pending_sales', 'pending_sales_mom', 'pending_sales_yoy',
       'Period Begin', 'Period Duration', 'Period End', 'Price Drops',
       'Price Drops Mom', 'Price Drops Yoy', 'Property Type',
       'property_type_id', 'Region', 'Region Type', 'region_type_id',
       'Sold Above List', 'Sold Above List Mom', 'Sold Above List Yoy',
       'State', 'State Code', 'Table Id'],
      dtype='object')

In [51]:
illinois_df.loc[illinois_df['State'] == 'Illinois']

,Worksheet Filter,Measure Display,Number of Records,Avg Sale To List,Avg Sale To List Mom,Avg Sale To List Yoy,City,Homes Sold,Homes Sold Mom,Homes Sold Yoy,...,property_type_id,Region,Region Type,region_type_id,Sold Above List,Sold Above List Mom,Sold Above List Yoy,State,State Code,Table Id
206,Value,NaN,1,0.889831,NaN,NaN,NaN,1.0,NaN,NaN,...,3,"Iroquois County, IL",County,5,0.000000,NaN,NaN,Illinois,IL,749
236,Value,NaN,1,0.935897,25.0%,NaN,NaN,1.0,-66.7%,NaN,...,4,"Kankakee County, IL",County,5,0.000000,0.000000,NaN,Illinois,IL,757
244,Value,NaN,1,0.975863,2.1%,0.2%,Oak Park,27.0,8.0%,-20.6%,...,6,"Oak Park, IL",Place/City,6,0.222222,0.102222,0.016340,Illinois,IL,14204
658,Value,NaN,1,0.968423,-0.5%,-1.8%,Morton Grove,49.0,53.1%,96.0%,...,6,"Morton Grove, IL",Place/City,6,0.061224,-0.251276,-0.378776,Illinois,IL,13031
706,Value,NaN,1,0.949149,0.4%,-0.4%,NaN,52.0,18.2%,8.3%,...,-1,"Grundy County, IL",County,5,0.153846,0.040210,0.070513,Illinois,IL,743
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9256473,Value,NaN,1,0.976113,0.1%,0.9%,NaN,25.0,13.6%,-7.4%,...,13,Zip Code: 60565,Zip Code,2,0.080000,-0.010909,-0.031111,Illinois,IL,26071
9256474,Value,NaN,1,0.946211,-1.3%,-3.0%,NaN,4.0,33.3%,33.3%,...,13,Zip Code: 60416,Zip Code,2,0.000000,0.000000,-0.333333,Illinois,IL,25946
9256475,Value,NaN,1,0.983664,0.8%,0.9%,NaN,30.0,-18.9%,15.4%,...,13,Zip Code: 60142,Zip Code,2,0.333333,0.144144,0.141026,Illinois,IL,25868
9256476,Value,NaN,1,0.951904,-2.3%,NaN,NaN,4.0,0.0%,NaN,...,13,Zip Code: 60706,Zip Code,2,0.000000,-0.250000,NaN,Illinois,IL,26167
9256477,Value,NaN,1,0.963311,0.1%,0.0%,NaN,12.0,9.1%,71.4%,...,13,Zip Code: 60173,Zip Code,2,0.083333,-0.007576,-0.059524,Illinois,IL,25895

In [47]:
illinois_df = illinois_df.loc[illinois_df['State Code'] == 'IL']

In [50]:
illinois_df.describe

<bound method NDFrame.describe of         Worksheet Filter  Measure Display  Number of Records  \
206                Value              NaN                  1
236                Value              NaN                  1
244                Value              NaN                  1
658                Value              NaN                  1
706                Value              NaN                  1
...                  ...              ...                ...
9256473            Value              NaN                  1
9256474            Value              NaN                  1
9256475            Value              NaN                  1
9256476            Value              NaN                  1
9256477            Value              NaN                  1

         Avg Sale To List Avg Sale To List Mom Avg Sale To List Yoy  \
206              0.889831                  NaN                  NaN
236              0.935897                25.0%                  NaN
244              0.975863                 2.1%                 0.2%
658              0.968423                -0.5%                -1.8%
706              0.949149                 0.4%                -0.4%
...                   ...                  ...                  ...
9256473          0.976113                 0.1%                 0.9%
9256474          0.946211                -1.3%                -3.0%
9256475          0.983664                 0.8%                 0.9%
9256476          0.951904                -2.3%                  NaN
9256477          0.963311                 0.1%                 0.0%

                 City  Homes Sold Homes Sold Mom Homes Sold Yoy  ...  \
206               NaN         1.0            NaN            NaN  ...
236               NaN         1.0         -66.7%            NaN  ...
244          Oak Park        27.0           8.0%         -20.6%  ...
658      Morton Grove        49.0          53.1%          96.0%  ...
706               NaN        52.0          18.2%           8.3%  ...
...               ...         ...            ...            ...  ...
9256473           NaN        25.0          13.6%          -7.4%  ...
9256474           NaN         4.0          33.3%          33.3%  ...
9256475           NaN        30.0         -18.9%          15.4%  ...
9256476           NaN         4.0           0.0%            NaN  ...
9256477           NaN        12.0           9.1%          71.4%  ...

         property_type_id               Region Region Type  region_type_id  \
206                     3  Iroquois County, IL      County               5
236                     4  Kankakee County, IL      County               5
244                     6         Oak Park, IL  Place/City               6
658                     6     Morton Grove, IL  Place/City               6
706                    -1    Grundy County, IL      County               5
...                   ...                  ...         ...             ...
9256473                13      Zip Code: 60565    Zip Code               2
9256474                13      Zip Code: 60416    Zip Code               2
9256475                13      Zip Code: 60142    Zip Code               2
9256476                13      Zip Code: 60706    Zip Code               2
9256477                13      Zip Code: 60173    Zip Code               2

        Sold Above List  Sold Above List Mom  Sold Above List Yoy     State  \
206            0.000000                  NaN                  NaN  Illinois
236            0.000000             0.000000                  NaN  Illinois
244            0.222222             0.102222             0.016340  Illinois
658            0.061224            -0.251276            -0.378776  Illinois
706            0.153846             0.040210             0.070513  Illinois
...                 ...                  ...                  ...       ...
9256473        0.080000            -0.010909            -0.031111  Illinois
9256474        0.000000             0.000000            -0.333333  Illinois
9256475        0.333333             0.144144             0.141026  Illinois
9256476        0.000000            -0.250000                  NaN  Illinois
9256477        0.083333            -0.007576            -0.059524  Illinois

         State Code  Table Id
206              IL       749
236              IL       757
244              IL     14204
658              IL     13031
706              IL       743
...             ...       ...
9256473          IL     26071
9256474          IL     25946
9256475          IL     25868
9256476          IL     26167
9256477          IL     25895

[440863 rows x 61 columns]>

In [49]:
illinois_df.to_csv('illinois_data_df.csv')